# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local data and log directories
data/
*.jsonl
nas-watchdog.jsonl

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db

push_to_dockerhub.sh

# Local environment secret files
.env
